<%-include('../header2', {title: 'Payment | IMA Vaccine'}) %> 
    <main>
        <section class="section">
            <div class="container">
                <nav>
                    <div class="nav-wrapper blue darken-1">
                      <div class="col s12">
                        <a style="margin-left: 10px;" onclick="javascript:void(0)" class="breadcrumb">Register</a>
                        <a href="#" class="breadcrumb">Payment</a>
                      </div>
                    </div>
                  </nav>
            </div>
        </section>

        <section style="margin-top: 50px; margin-bottom: 200px;" class="section">
            <div class="container">
                <h4 class="center-align">Make Payment</h4>
                <div class="container">
                    <table class="responsive-table">
                        <tr>
                            <tr>
                                <td><strong>Price per vaccine:</strong></td>
                                <td class = "right-align">$50 </td>
                            </tr>
                        </tr>
                        <tr>
                            <tr>
                                <td><strong>Number of vaccines:</strong></td>
                                <td class = "right-align"><%= amount %> </td>
                            </tr>
                        </tr>
                        <tr>
                            <tr>
                                <td><strong>Total payment due:</strong></td>
                                <td id = "totalpayment" class = "right-align">$50</td>
                            </tr>
                        </tr>
                    </table>
                    <br><br>
                    <form id = "form">
                        <button class="hoverable waves-effect" style="background-color: gainsboro; border-radius: 25px; border-color: transparent; width: 100%;" type="submit"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal"/></button>
                    </form>
                
                </div>
                
            </div>
        </section>
        <p id = "warnBtn" style = "color:red;"></p>
    </main>    

    <%- include('../footer') %> 

    <script>
        
    </script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        const totalPayment = document.getElementById('totalpayment'); 
        const total = parseInt('<%= amount %>') * 50; 
        totalPayment.innerHTML = `$${total}`;

        const form = document.getElementById('form'); 
        form.action = window.location.href; 
        form.method = "POST";
        
        
    </script>
</body>

</html>