<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
    crossorigin="anonymous"></script>
    <title>Admin Panel</title>
</head>
<body>
     <!--1. Navbar-->
     <div class="navbar-fixed">
        <nav class="white">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="" class="brand-logo"><img src="https://i.ibb.co/xHpSycB/IMALogo.png" alt="IMA" height = 60 weight = 60></a>
                    <a href="#" class = "black-text sidenav-trigger" data-target = "mobile-nav">
                        <i class="fas fa-bars fa-2x"></i>
                    </a>
                    <ul class="right hide-on-med-and-down black-text">
                        <li>
                            <a class = "black-text waves-effect navtext" href="#">Dashboard</a>
                        </li>
                        <li>
                          <a class = "black-text waves-effect navtext" href="#">Settings</a>
                        </li>
                        <li>
                            <a class = "black-text waves-effect navtext" href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!--Side Nav for mobile view-->
    <ul class="sidenav" id = "mobile-nav">
        <li><a class = "black-text" href="#">Dashboard</a></li>
        <li><a class = "black-text" href="#">Settings</a></li>
        <li><a class = "black-text" href="#">Log out</a></li>
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        const sidenav = document.querySelector('.sidenav');
        M.Sidenav.init(sidenav, {});
    </script>
</body>
</html>
