<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
    crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <h1 class = "heading center-align">Enter your details below</h1>
    <div class="container">
        <form id = "form">
            <label for="email">Enter your email</label>
             <input type="email" name="email" id="email" required>
            <label for="password">Enter your password</label>
             <input type="password" name="password" id="password" required>
             <br>
            <input style="margin-top: 40px;" class = "waves-effect navtext btn blue darken-2 hoverable" type="submit" value = "Submit">
            <p id="warning-btn"></p>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        localStorage.setItem('root', `<%=root%>`);
    </script>
    <script src="<%=root%>/js/adminLogin.js"></script>
</body>
</html>


<!-- console.log('data below');
            console.log(data);
            console.log('JSON data below');
            console.log(JSON.stringify(data)); -->
