<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Make Payment</title>
</head>
<style>
    body{
        background-color: whitesmoke;
    }
</style>
<body>
    <div class="container">
        <h1>This is the page where you pay for the vaccine</h1>
        <form action="/pay" method = "POST">
            <button id = "payBtn" class = "white-text waves-effect waves-light navtext btn blue darken-2 hoverable">Paypal</button>
        </form>
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>