<!-- <- include('header', {title: 'Register | IMA Vaccine'}) %>  -->
<%- include('header2', {title: 'Register | IMA Vaccine'}) %> 
    <main>
        <section class="section">
            <div class="container">
                <nav>
                    <div class="nav-wrapper blue darken-1">
                      <div class="col s12">
                        <a style="margin-left: 10px; color: white;" onclick="javascript:void(0)" class="breadcrumb">Register</a>
                        <a style="color: #BCDBF7;" onclick="javascript:void(0)" class="breadcrumb">Payment</a>
                      </div>
                    </div>
                  </nav>
            </div>
        </section>

        <section class="section">
            <h4 class="center-align">Register</h4>
            
                  <div class="container" >
                    <div class="container">
                        <div class="row">
                            <p>One vaccine currently costs $50 . Refer to <a class="pageLink" href="<%root%>/about">about page</a> or <a class="pageLink" href="<%root%>/faq">FAQ</a> for more info.</p>
                        </div>
                        <form id = "form">
                            <div class="input-field col s12">
                                <label for="name">Enter your name</label>
                                <input id = "name" type="text" name="name" required>
                            </div>
                            <div class="input-field col s12">
                                <label for="email">Enter your email</label>
                                <input id = "email" type="email" name="email" required>
                            </div>
                            <div class="input-field col s12">
                                <label for="date">Date</label>
                                <input id = "date" name = "date" type="text" class = "datepicker" required>
                            </div>
                            <div class="input-field col s12">
                                <label for="time">Time</label>
                                <input id = "time" name = "time" type="text" class="timepicker" required>
                            </div>
                            <div class="input-field col s12">
                                <label for="time">Number of vaccines</label>
                                <input id = "number" name = "number" type="number" required>
                            </div>
                            
                            <div style="margin-top: 50px; margin-bottom: 50px;" class="row">
                                
                                <button style="width: 100%;" type="submit" class="btn white-text hoverable waves-effect">Submit</button>
                                <br>
                                <div class="center-align">
                                    <p id = "warning-btn" style = "color:red;"></p>
                                </div>
                            </div>
                            
                        </form>
                    </div>
            </div>
             
        </section>
    </main>
    
    <%- include('footer') %> 
    <script src = "<%= root %>/js/register.js"> </script>
    <script>
        form.action = 'email'; 
        form.post = 'POST'; 
    </script>
</body>

</html>